/* no extra space around the edges of the webpage */
body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* give some space left and right: check w3school align */
.top{
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;

    /* clearfix */
    display: table;
    clear: both;
    content: "";
}

.top-menu{
    height: 50px;

    /* box shadow for 3d looking for top-menu that have language and users function */
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24), 0 1px 4px rgba(0, 0, 0, 0.24);

    /* child elements inside positioned and sized in a flexible way*/
    display: flex;

    /* make many element into 1 row*/
    flex-direction: row;

    /* space bettwen the middle for start and end */
    justify-content: space-between;

    /* center vertically */
    align-items: center;

}

.top-menu-language{
    margin-left: 10px;
}

.top-menu-user{
    margin-right: 10px;
}

.top-menu-language a, .top-menu-language a:link, .top-menu-language a:visited, .top-menu-language a:hover, .top-menu-language a:active {
    text-decoration: none;
    color: black;
}

.top-menu-language a img{
    width: 33px;
    height: 14px;

}

.top-logo{
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24), 0 1px 4px rgba(0, 0, 0, 0.24);
    text-align: center;
    padding-top: 20px;
}

.top-logo a img{
    width: 100px;
    margin-bottom: -15px;
}

.top-logo h5{
    padding-bottom: 5px;
}

.top-nav{
    background: linear-gradient(0deg, #0F6900, #0F6900);
}

.top-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.top-nav a, .top-nav a:link, .top-nav a:visited, .top-nav a:hover, .top-nav a:active {
    text-decoration: none;
    color: white;
}

.top-nav img{
    width: 40px;
}

.top-nav a{
    text-align: center;
    width: 100%;
    padding: 0.4%;
}

.container{
}

.container p{
    color: white;
}

.container-footer{
    background-color: #0F6900;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.container-footer-follow{
    display: flex;
    flex-direction: column;
}

.container-footer-follow a{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container-footer-follow a i{
    padding-right: 5px;
}

.container-footer-download{
    display: flex;
    flex-direction: column;
}

.container-footer-download a img{
    width: 150px;
    height: 50px;
}

.container-footer-download a{
    margin-bottom: 11px;
}
